
.radio-questions > .radio-questions-grp{
  width: 30%;
  min-height: 250px;
  border: 1px solid #a0a0a0;
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
}

.radios label {
    cursor: pointer;
    position: relative;
  }
  
.radios label + label {
    margin-left: 15px;
  }
  
  input[type="radio"] {
    opacity: 0; /* hidden but still tabable */
    position: absolute;
  }
  
  input[type="radio"] + span {
    color: #474747;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    line-height: 2.5;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
  
  input[type="radio"]:checked + span {
    color: #D9E7FD;
    background-color: #4285F4;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
  
  input[type="radio"]:focus + span {
    color: #fff;
  }
  
  input[type="text"]{
    width: 500px;
    margin-bottom: 2px;
  }
  /* ================ TOOLTIPS ================= */
  
  #radios label:hover::before {
    content: attr(for);
    font-family: Roboto, -apple-system, sans-serif;
    text-transform: capitalize;
    font-size: 11px;
    position: absolute;
    top: 170%;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: #323232;
    color: #fff;  
    padding: 4px;
    border-radius: 3px;
    display: block;
  }


.bg{
    background-color: #d4d4d4;
}

.border-light{
    border: 1px solid #c2c2c2;
    height: 30px;
    width: 120px;
    padding-top: 20px;
}

.log-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
}

.text-center{
  text-align: center;
}

@media (max-width: 767px) {
  input[type="text"]{
    width: 90%;
  }
  .radio-questions{
    flex-direction: column;
  }
  .radio-questions > .radio-questions-grp{
    width: 80%;
    min-height: 100px;
    max-height: 300px;
    border: 1px solid #a0a0a0;
    border-radius: 6px;
    margin: 5px;
    background-color: #fff;
  }
}